.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.Footer .Navigation ul {
  grid-template-columns: repeat(5, 1fr);
}

@media (min-width: 900px) {
  .Footer .Navigation {
    display: none;
  } 
}